.main_wrap{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  /* switch margin to padding so the shadow actually bleeds to the very edge */
  padding-inline: 1rem;
  color: #B9BBBE;

  /* three insets: bottom, left, right */
  background-image:
    linear-gradient(
      to bottom,
      #31007b 0%,
      #31007b calc(100% - 12px), 
      rgba(0,0,0,0.3) 100%
    );
}


#left{
    display: flex;
    gap: .5rem;
    cursor:default;
}

#channel_name{
    color: white;
    font-weight: 600;
}

#right{
    display: flex;
    gap: 1rem;
    cursor: pointer;
}

#right input{
    background-color: #63499c;
    border: none;
    border-radius: 5px;
    text-indent: .5rem;
    color: white;
}

.right_comps:hover{
    color: white;
}